.example-full-width{
    width:100%;
}
.post-cls{
    border:1px solid grey;
}
.list-cls{
    padding:2px;
}
.title-cls{
    background-color: indigo;
    color:white;
}
.post-details-cls{
    background-color: indigo;
    color:white;
    border: 1px solid indigo;
    border-radius: 20px;
}
.input-cls{
    width: 95%;
    padding: 10px;
    margin: 10px;
    border: 1px solid indigo;
    border-radius: 5px;
}
.model-btn-cls{
    margin:5px;
}
.close-btn-cls{
    font-size: 15px;
    float: right;
    margin: 15px -16px 0px 0px;
}